input[name=imagepath],
input[name=id],
input[name=imagechanged] { display: none; }
html, body {
    height: 100%;
}
#cancel,
select,
input {
    font-size: 3ch;
    color: lightgray;
    background-color: transparent;
    border-width: 0 0 0.15ch 0;
    border-color: var(--accent-color);
}
#details select,
#details input {
    width: 100%;
}
select > option {
    color: black;
}
form {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto max-content 1fr;
}
input[name=title] {
    font-size: 10ch;
    margin: 0.5ch auto 1ch;
    width: fit-content;
    height: 2.25ch;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#chooser {
    height: auto;
    max-height: 90vh;
    width: fit-content;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
form > div {
    display: grid;
    grid-template-columns: auto 1fr;
}
form > div > div {
    margin-left: 3ch;
    color: var(--accent-color);
    display: grid;
    height: fit-content;
    width: -webkit-fill-available;
    font-size: 2ch;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
/**
 * Buttons
**/
#buttons {
    position: fixed;
    display: flex;
    pointer-events: none;
    height: 100%;
    width: calc(100% - var(--sidebar-width) - 4ch);
    align-items: flex-end;
}
#cancel {
    width: fit-content;
    pointer-events: all;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
input[type=submit] {
    margin-left: auto;
    pointer-events: all;
    width: fit-content;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}