button {
    width: auto;
    height: min-content;
}
ul {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    width: 100%;
    padding-left: 0px;
}
#icon-size {
    position: absolute;
    width: var(--iconlist-iconsize);
    height: var(--iconlist-iconsize);
}
#buttons {
    padding: 1ch 1ch 2ch;
}