nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    position: fixed;
    height: 100%;
    width: auto;
    background-color: darkgray;
    left: calc(-1 * var(--distance));
}
nav[state=shown] {animation: showSidebar .5s cubic-bezier(0.5, -0.46, 0, 0.97) forwards;}
nav[state=hidden] {animation: hideSidebar .5s cubic-bezier(0, 0.97, 0.5, -0.46) forwards;}
@keyframes showSidebar {
    100% { translate: var(--distance) 0 }
}
@keyframes hideSidebar {
    0% { translate: var(--distance) 0 }
    100% { translate: 0 0 }
}
nav div button {
    margin-left: auto;
    width: 5ch;
    height: 5ch;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}
#navigation div,
nav div:has(button) {
    padding: 0.75ch 1.5ch;
    height: 5ch;
    display: grid;
    grid-template-columns: auto 5ch;
}
.title {
    margin: auto 1ch;
    height: min-content;
}
.x {
    rotate: 45deg;
}